
.logo{
    width: 100%;
    min-width: 100px;
    margin-top: -10px  !important; 
    margin-bottom: 0px; 
    max-width: 400px; 
    font-weight: bold
}

.page-header{
    min-height: 10px;
}

.width-100{
    width:100px !important;
}

.control-label{
    margin-top: 7px;
}